---
import GitHub from '@/components/icons/GitHub.astro'
---

<a
  target='_blank'
  href={Astro.props.repository}
  rel='noopener noreferrer'
  class='flex items-center font-medium gap-x-2 bg-[#24292F] hover:bg-[#24292F]/90 text-xs text-white py-2 px-3 rounded-lg shadow-md'
>
  <GitHub />
  GitHub
</a>
