---
import EyeIcon from "@/components/icons/EyeIcon.astro";
---

<a
target="_blank"
href={Astro.props.url}
class="flex items-center gap-x-2 rounded-full bg-gradient-to-r from-green-500 to-emerald-600 transition hover:from-green-600 hover:to-emerald-600 text-xs text-white py-2 px-3 shadow-md  font-medium"
>
<EyeIcon />
Visitar
</a>