---
import Medal from '../icons/Medal.astro'
import InfoItem from './InfoItem.astro'
import { informations } from '@/lib/index.ts'
---

<section id='logros'>
  <h2
    class='text-3xl font-bold sm:text-4xl text-fourth text-center py-10 flex items-center justify-center gap-x-2'
  >
    <Medal class='w-7 h-7 sm:w-9 sm:h-9' />
    Logros
  </h2>

  <div class="logros-grid">
    {
      informations.map((info) => {
        return <InfoItem {...info} />
      })
    }
  </div>
</section>
<style>
  .sombra {
    filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.1));
  }
  .logros-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  justify-items: center;
}
</style>
