---
import Medal from '../icons/Medal.astro'
import InfoItem from './InfoItem.astro'
import { informations } from '@/lib/index.ts'
---

<section id='logros'>
  <h2
    class='text-3xl font-bold sm:text-4xl text-[#0DBC5C] text-center py-10 flex items-center justify-center gap-x-2'
  >
    <Medal class='w-7 h-7 sm:w-9 sm:h-9' />
    Logros
  </h2>

  <div
    class='grid lg:grid-cols-2 xlmax:grid-cols-3 py-5 w-full gap-y-10 md:gap-x-6 xl:gap-x-8 place-content-center place-items-center'
  >
    {
      informations.map((info) => {
        return <InfoItem {...info} />
      })
    }
  </div>
</section>
<style>
  .sombra {
    filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.1));
  }
</style>
