<p class="text-gray-900 text-pretty sombra-low">
  Como desarrollador de software, <strong>he desarrollado seis aplicaciones: cuatro sitios web, una aplicación de escritorio y una aplicación móvil</strong>. He utilizado tecnologías como <strong>Astro, Next.js, Node.js, JavaEE, Kotlin, JavaServer Pages, SQL Developer y MongoDB</strong> para llevar a cabo estos proyectos. <strong>Como becario en el Centro PYME de Lavalleja, estoy profundizando mi comprensión del mundo empresarial</strong>, adquiriendo conocimientos valiosos sobre el desarrollo y crecimiento de empresas y emprendimientos en Uruguay.
</p>

<style>
 strong{
    color:#111827;
  }
</style>
