<p class="text-black texto animacion">
  Como desarrollador de software, <strong>he creado seis aplicaciones</strong>,
  cinco páginas web y una aplicación para Windows. Para el diseño visual,
  utilicé <strong>HTML, CSS, Java y JavaScript</strong>, haciendo uso de
  frameworks como <strong>Next.js, Astro y JavaServer Pages</strong>, junto a
  tecnologías como <strong>NodeJS y JavaEE</strong> para la lógica de estas aplicaciones.
  En cuanto a la gestión de la base de datos, trabajé con
  <strong>MongoDB y SQL Developer</strong>.
</p>

<style>
  .texto {
    text-wrap: pretty;
    max-width: 1300px;
  }
</style>
