<p class='text-gray-900 sombra-low text-pretty'>
  Soy Nicolás, actualmente tengo 25 años. Durante mi trayectoria, he adquirido
  conocimientos en <strong>programación</strong>, <strong>bases de datos</strong
  >, <strong>infraestructura</strong> y <strong>testing</strong>, que aplico en <strong
    >soluciones tecnológicas prácticas</strong
  >.
</p>
<p class='text-gray-900 sombra-low text-pretty'>
  Tengo experiencia trabajando en <strong>equipo</strong>, tanto en entornos <strong
    >universitarios</strong
  > como en <strong>oficinas</strong>, lo que me ha permitido desarrollar
  habilidades de <strong>comunicación</strong>, <strong>colaboración</strong> y <strong
    >resolución de problemas</strong
  > en proyectos grupales y profesionales.
</p>
<style>
  strong {
    color: #111827;
  }
</style>
