<p class='text-gray-900 sombra-low text-pretty'>
  Desarrollador web con tres años de experiencia autodidacta y formación en
  Tecnologías de la Información. Actualmente, como <strong
    >Asistente de TIC en UNICEF Uruguay</strong
  >, colaboro en la gestión de sistemas tecnológicos, soporte a usuarios y
  automatización de procesos.
</p>
<p class='text-gray-900 sombra-low text-pretty'>
  A lo largo de mis estudios en LTI, he adquirido conocimientos en <strong>programación,
  bases de datos, infraestructura y testing</strong>, que complemento con experiencia
  práctica en proyectos grupales y roles como becario en el <strong
    >Centro PYME de Lavalleja</strong
  >, donde profundicé en el desarrollo empresarial y emprendimientos en Uruguay.
</p>

<style>
  strong {
    color: #111827;
  }
</style>
