---
import InfoIcon from '@/components/icons/InfoIcon.astro'
import Diploma from '../icons/Diploma.astro'
---

<h3 class='text-xl mt-6 font-bold text-[#0DBC5C] sombra'>Estudios</h3>
<p class='text-black texto pb-3'>
  Técnico Superior en Informática y actualmente curso el quinto semestre de <strong
    >Licenciatura en Tecnologías de la Información</strong
  > en la Universidad Tecnológica del Uruguay. Durante estos semestres, he adquirido
  conocimientos en <strong
    >programación, bases de datos, infraestructura y testing</strong
  >. La participación en <strong
    >proyectos grupales ha fortalecido mis habilidades blandas</strong
  >, contribuyendo a mi crecimiento personal.
</p>

<div class='space-y-4 bg-white rounded-lg sombra max-w-[1300px] mb-2'>
  <details class='group [&_summary::-webkit-details-marker]:hidden'>
    <summary
      class='flex flex-col sm:flex-row cursor-pointer items-center justify-between gap-y-3 sm:gap-y-0 rounded-lg bg-white p-4 text-gray-900'
    >
      <h2
        class='flex items-center gap-2 font-bold text-sm md:text-base text-center sm:text-left hover:underline'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='2'
          stroke='currentColor'
          class='w-4 h-4 font-black hidden md:flex'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3'></path>
        </svg>
        Lic. en Tecnologías de la Información
      </h2>
      <div class='flex items-center gap-x-4'>
        <div class='flex items-center shadow-sm rounded-full'>
          <span
            class='inline-flex mx-auto items-center justify-center rounded-full bg-blue-100 px-3 py-1 text-blue-700'
          >
            <p class='whitespace-nowrap text-[10px] md:text-sm font-semibold'>
              2022 - actualmente
            </p>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width={2}
              stroke='currentColor'
              class='w-4 h-4 ml-2'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5'
              ></path>
            </svg>
          </span>
        </div>
        <svg
          class='h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M19 9l-7 7-7-7'></path>
        </svg>
      </div>
    </summary>

    <p
      class='mt-4 px-4 leading-relaxed text-black text-sm md:text-base textocurso'
    >
      Mi experiencia universitaria hasta el momento ha sido enriquecedora y
      práctica, permitiéndome explorar áreas fundamentales para el desarrollo de
      aplicaciones. Desde programación y bases de datos hasta testing e
      infraestructura, he adquirido un conjunto de conocimientos y habilidades
      que son aplicables en el ámbito profesional. La participación en proyectos
      grupales ha fortalecido mis habilidades técnicas y también mis habilidades
      blandas, contribuyendo a mi crecimiento personal y profesional.
    </p>

    <div
      class='px-4 pt-4 pb-5 flex items-center justify-center sm:justify-start gap-x-4'
    >
      <a
        target='_blank'
        href='https://drive.google.com/file/d/11CT8f6SIMXFVSmazq55or1KwG7BXMJQw/view?usp=sharing'
        rel='noopener noreferrer'
        class='flex items-center gap-x-2 bg-sky-500 hover:bg-sky-400 text-xs md:text-sm text-white py-2 px-3 rounded-full shadow-md cursor-pointer font-semibold'
      >
        <Diploma class='text-white size-4' />
        Escolaridad
      </a>
      <a
        target='_blank'
        href='https://utec.edu.uy/es/educacion/carrera/licenciatura-en-tecnologias-de-la-informacion/'
        class='flex items-center gap-x-2 bg-sky-500 hover:bg-sky-400 text-xs md:text-sm text-white py-2 px-3 rounded-full shadow-md cursor-pointer font-semibold'
      >
        <InfoIcon />
        Saber más
      </a>
    </div>
  </details>
</div>
<div class='space-y-4 bg-white rounded-lg sombra max-w-[1300px]'>
  <details class='group [&_summary::-webkit-details-marker]:hidden'>
    <summary
      class='flex flex-col sm:flex-row cursor-pointer items-center justify-between gap-y-3 sm:gap-y-0 rounded-lg bg-white p-4 text-gray-900'
    >
      <h2
        class='flex items-center gap-2 font-bold text-sm md:text-base text-center sm:text-left hover:underline'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='2'
          stroke='currentColor'
          class='w-4 h-4 font-black hidden md:flex'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3'></path>
        </svg>
        Bachiller de Informática
      </h2>
      <div class='flex items-center gap-x-4'>
        <div class='flex items-center shadow-sm rounded-full'>
          <span
            class='inline-flex items-center justify-start rounded-full bg-emerald-100 px-3 py-1 text-emerald-700'
          >
            <p class='whitespace-nowrap text-[10px] md:text-sm font-semibold'>
              2019 - 2021
            </p>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='2'
              stroke='currentColor'
              class='w-4 h-4 ml-2'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z'
              ></path>
            </svg>
          </span>
        </div>
        <svg
          class='h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M19 9l-7 7-7-7'></path>
        </svg>
      </div>
    </summary>
    <p
      class='mt-4 px-4 leading-relaxed text-black text-sm md:text-base textocurso'
    >
      Al concluir mi bachillerato en Informática con énfasis en Desarrollo y
      Soporte, pude aplicar mis conocimientos en diversas áreas clave. Desde la
      instalación y configuración de hardware y software, hasta el análisis,
      diseño, y administración de redes. En el proyecto final, desarrollé una
      aplicación para Windows utilizando C# y MySQL, para la gestión de una
      inmobiliaria.
    </p>
    <div
      class='px-4 pt-4 pb-5 flex items-center justify-center sm:justify-start gap-x-4'
    >
      <a
        target='_blank'
        href='https://drive.google.com/drive/folders/1sDVpkB6UduxFFc7ftEN2oEaMJTs3Ts4U?usp=sharing'
        rel='noopener noreferrer'
        class='flex items-center gap-x-2 bg-sky-500 hover:bg-sky-400 text-xs md:text-sm text-white py-2 px-3 rounded-full shadow-md cursor-pointer font-semibold'
      >
        <Diploma class='text-white size-4' />
        Diploma
      </a>
      <a
        target='_blank'
        href='https://planeamientoeducativo.utu.edu.uy/sites/cursos.utu.edu.uy/oferta-educativa/2005/2004/TICUR/049/EMT%20Informatica%20reformulacion.htm'
        rel='noopener noreferrer'
        class='flex items-center gap-x-2 bg-sky-500 hover:bg-sky-400 text-xs md:text-sm text-white py-2 px-3 rounded-full shadow-md cursor-pointer font-semibold'
      >
        <InfoIcon />
        Saber más
      </a>
    </div>
  </details>
</div>
<style>
  .texto {
    text-wrap: pretty;
    width: 100%;
    max-width: 1300px;
  }
  .textocurso {
    text-wrap: pretty;
    padding-right: 40px;
    max-width: 1260px;
  }
</style>
