<div class="hidden sm:flex">
    <div
      class="fixed inset-0 -z-20 h-[150vh] w-[150vw] bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:50px_50px]"
    >
    </div>
  </div>
  