---
import { contacts, navs } from '@/lib/index.ts'
---

<footer class='relative w-full mx-auto py-14 bg-primary px-5 md:px-10'>
  <div class='absolute end-10 top-4'>
    <a
      class='inline-block rounded-full bg-gradient-to-r from-green-500 to-emerald-600 transition hover:from-green-600 hover:to-emerald-600 text-white shadow hover:bg-teal-500 p-3 lg:p-4'
      href='#inicio'
    >
      <span class='sr-only'>Back to top</span>

      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='size-6'
        viewBox='0 0 20 20'
        fill='currentColor'
      >
        <path
          fill-rule='evenodd'
          d='M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z'
          clip-rule='evenodd'></path>
      </svg>
    </a>
  </div>


  <div class='flex justify-center lg:justify-start gap-x-6 py-8 lg:py-0'>
    {
      contacts.map(({ icon: Icon, url, color }) => {
        return (
          <a
            target='_blank'
            href={url}
            class='cursor-pointer hover:opacity-90'
          >
            <Icon styles='size-6 md:size-8' color={color} />
          </a>
        )
      })
    }
  </div>

  <ul class='flex flex-wrap items-center justify-center gap-5 xs:gap-x-6'>
    {
      navs.map((item) => {
        return (
          <li>
            <a
              class='flex items-center gap-x-1 md:gap-x-2 hover:underline text-base md:text-lg'
              href={`${item.url}`}
            >
              <item.icon class='w-4 h-4 md:w-5 md:h-5' />
              {item.text}
            </a>
          </li>
        )
      })
    }
  </ul>
</footer>
