---
import { navs } from '@/lib/index.ts'
---

<header class="bg-primary">
  <div id='inicio'></div>
  <nav
    class='hidden sm:flex justify-center items-center py-12'
  >
    <ul class='flex items-center justify-center gap-x-8'>
      {
        navs.map((item) => {
          return (
            <li>
              <a
                href={`${item.url}`}
                class='hover:underline flex items-center gap-x-2 text-gray-800 text-xl xl:text-2xl'
              >
                <item.icon class='size-5 xl:size-6' />
                {item.text}
              </a>
            </li>
          )
        })
      }
    </ul>
  </nav>
</header>
