---
import ListInfo from "@/components/info/ListInfo.astro";
import ProfessionalProfile from "@/components/info/ProfessionalProfile.astro";
import Studies from "@/components/info/Studies.astro";
import User from "@/components/icons/User.astro";
---

<section
  id="sobre-mi"
  class="bg-[#E3F7EB] flex flex-col gap-y-4 px-5 md:px-14 pb-14"
>
  <h2
    class="text-3xl font-bold sm:text-4xl text-[#0DBC5C] text-center py-10 flex items-center justify-center gap-x-2 animacion"
  >
    <User class="w-7 h-7 sm:w-9 sm:h-9" />
    Sobre mí
  </h2>
  <h3 class="text-xl mt-6 font-bold text-[#0DBC5C] sombra animacion">
    Perfil Profesional
  </h3>
  <ProfessionalProfile />
  <Studies />
  <ListInfo />
</section>

<style>
  .sombra {
    filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.1));
  }
</style>
