---
import ProfessionalProfile from "@/components/info/ProfessionalProfile.astro";
import Studies from "@/components/info/Studies.astro";
import User from "@/components/icons/User.astro";
import Photo from "../utils/Photo.astro";
---

<section
  id="sobre-mi"
  class="bg-primary flex flex-col gap-y-4 px-5 md:px-10 pb-14"
>
  <h2
    class="text-3xl font-bold sm:text-4xl text-fourth text-center py-10 flex items-center justify-center gap-x-2 sombra-low"
  >
    <User class="w-7 h-7 sm:w-9 sm:h-9" />
    Sobre mí
  </h2>
  <div class="xl:grid xl:grid-cols-2">
    <div class="flex flex-col gap-y-4 xl:max-w-[1000px]">
      <h3 class="text-xl mt-6 font-bold gradient-text sombra-low">
        Perfil Profesional
      </h3>
      <ProfessionalProfile />
      <Studies />
    </div>
    <div class="hidden xl:flex xl:items-start xl:justify-center min-w-[500px] pt-4">
      <Photo>
    </div>
  </div>
</section>

<style>
  .sombra {
    filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.1));
  }
</style>
