---
import GitHub from '@/icons/GitHub.astro'
import LinkedIn from '@/icons/LinkedIn.astro'
import Photo from '@/utils/Photo.astro'
---

<section
  class='flex flex-col lg:flex-row gap-y-10 lg:gap-y-0 lg:gap-x-20 items-center justify-center py-5 md:py-10 bg-primary min-h-[100vh] max-h-[650px] lg:max-h-none lg:min-h-[70vh] xl:h-[60vh] px-5 md:px-10'
>
  <Photo />
  <div class='max-w-xl'>
    <div class='mx-auto text-center lg:text-left'>
      <h1
        class='text-3xl font-extrabold sm:text-4xl xl:text-5xl flex flex-col gap-y-3'
      >
        Nicolás Meléndez
        <strong
          class='font-extrabold text-tertiary sm:block text-2xl sm:text-3xl'
        >
          Técnico Superior en Informática
        </strong>
      </h1>

      <p class='mt-4 sm:text-lg/relaxed text-slate-700'>
        Desarrollador de soluciones web, móviles y de escritorio, utilizando
        tecnologías como Astro, Next.js, JavaServer Pages, JavaEE, Kotlin, SQL
        Developer y MongoDB.
      </p>

      <div class='mt-8 flex flex-wrap justify-center lg:justify-start gap-4'>
        <a
          href='https://www.linkedin.com/in/nicolas-melendez/'
          class='text-white flex gap-x-3 bg-[#2f7fa3] hover:bg-[#0b5d8e]/60 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center focus:ring-[#0A66C2]/55 me-2 mb-2'
          target='_blank'
          rel='noopener noreferrer'
        >
          <LinkedIn color='#fff' styles='size-5' />

          LinkedIn
        </a>

        <a
          href='https://github.com/nicomelendez'
          class='text-white bg-[#24292F] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center flex gap-x-3 items-center focus:ring-gray-500 hover:bg-[#24292F]/60 me-2 mb-2'
          target='_blank'
          rel='noopener noreferrer'
        >
          <GitHub styles='size-5' color='#fff' />
          Github
        </a>
      </div>
    </div>
  </div>
</section>
