---
import { informations } from '@/lib/index.ts'
import Medal from '@/components/icons/Medal.astro'
import ListCard from '../card/ListCard.astro'
---

<section id='logros' class="bg-secondary pb-14 lg:pb-5 px-5 md:px-24 xl:px-36">
  <h2
    class='text-4xl xl:text-5xl font-bold sm:text-4xl text-fourth text-center py-10 flex items-center justify-center gap-x-2'
  >
    <Medal class='w-7 h-7 sm:w-10 sm:h-10' />
    Logros
  </h2>
  <ListCard list={informations} type="info"/>
</section>
<style>
  .sombra {
    filter: drop-shadow(-2px 0px 5px rgba(0, 0, 0, 0.1));
  }
</style>
