---
import Code from '@/components/icons/Code.astro'
import ListProyects from '@/components/proyect/ListProyects.astro'
---

<section id='proyectos' class='w-full py-10 bg-secondary px-5 md:px-10 '>
  <h2
    class='text-3xl font-bold sm:text-4xl text-[#0DBC5C] text-center py-10 flex items-center justify-center gap-x-2'
  >
    <Code class='w-7 h-7 sm:w-9 sm:h-9' />
    Proyectos
  </h2>
  <ListProyects />
</section>
