---
import Card from'@/components/card/Card.astro'
---

<div
  class="grid lg:grid-cols-2 xlbig:grid-cols-3 py-5 w-full gap-y-20 gap-x-10 pb-20"
>
  {
    Astro.props.list.map(
      (item:any) => {
        return (
        <Card item={item} type={Astro.props.type}/>
        );
      }
    )
  }
</div>
