<ul class="flex flex-wrap gap-2 flex-row items-center">
    {
      Astro.props.badget.map((tag: any) => (
        <li>
          <span
            class={`flex gap-x-2 items-center rounded-full text-xs xl:text-sm ${tag.class} py-1.5 px-3 border border-white/10 shadow-md`}
          >
            <tag.icon class="size-4 xl:size-5" />
            {tag.name}
          </span>
        </li>
      ))
    }
  </ul>
  